.container{
    background-image:linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(19, 35, 117, 0.73)),
    url('/public/images/final.png');
    background-size: cover;
    height: 135vh;
    width:100vw;
    background-repeat: no-repeat;
}
.container h2,p{
    font-size: 40px;
    margin-top:-250px;
    margin-left: 50px;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.container h2{
    padding-top: 600px;
    padding-left: -700px;
    font-size: 55px;
    color: black;
}
p{
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
}
button {
    width:200px;
    text-align: center;
    margin: 20px ;
    padding-top: 200px;
    left: 100%;
    margin-right: 700px;
    border: 0.2rem solid navy;
    border-radius: 25px;
    color:black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background: transparent;
  }
button:hover {
    background:rgb(157, 157, 244);
    color: black;
}