.container{
    margin-top: 2rem;
    background-image:
    url('/public/images/cinema.jpeg');
    background-size: cover;
    height: 95vh;
    /* width:150vw; */
    width: 100%;
    background-repeat: no-repeat;
}
.container h2,p{
    font-size: 40px;
    margin-top:-450px;
    margin-left: 50px;
    color: black;
    display: grid;
    justify-content: space-between;
}
.container h2{
    margin-left: 750px;
    padding-top: 700px;
    padding-right: -700px;
    /* margin-top:-450px; */
    font-size: 55px;
    color: black;
    overflow: hidden;
}
p{
    font-weight: 500;
    margin-left: 750px;
    font-size: 19px;
    margin-top: 5px;
    margin-right: 10px;
    grid-template-columns: 1.5fr 0.5fr;
    
}
.container button {
    width:200px;
    margin-top:20px;
    margin-left: 900px;
    padding-top: 20px;
    border: 0.2rem solid navy;
    border-radius: 25px;
    color:black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background: transparent;
  }
.container button:hover {
    background:rgb(157, 157, 244);
    color: black;
}