.dcontainer {
    display: flex;
    margin-top: 150px;
    margin-left: 150px;
  }
  
 .image img {
    margin-left: 50px;
    margin-top: 50px;
    max-width: 80%;
    max-height:80%;
  }
  
  .text {
    margin-top: 50px;
    overflow: hidden;
    font-size: 20px;
  }
  h5,h2{
      padding: 6px;
  }
  .descbtn{
    width:10rem;
    height: 3.5rem;
    text-align: center;
    padding-top: 0.7rem;
    font-size:1.2rem;
    color: #fff;
    background-color: #002541;
    border-radius: 0.4rem;
    cursor: pointer;
  }

  .descbtn:hover{
    /* background-color: #fff; */
    color: #fba12e;
    /* border: 3px solid #002541; */
  }